.demobody {
    margin-top: 100px;
}
.date{
    margin-right: 50px;
}

.search_box1 {
    margin:10px auto;
    width: 40px;
    height: 40px;
    background: #2f3640;
    border-radius: 40px;
    font-size: 20px;
    padding: 5px 10px;
}
.search_txt1 {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    width: 1px;
}
.search_btn1 {
    color: #e84118;
    width:80px;
    height: 50px;
    border-radius: 50px;
    line-height: 20px;
}

.search_box1:hover {
    width: 240px;
}
.search_box1:hover >.search_txt1{
    width: 200px;
}
.search_txt1:focus >.search_box1 {
    width: 240px;
}
/* .search_txt1:focus {
    width: 200px;
} */


/* .search_box1:hover >.search_btn1{
    background: white;
    height: 100%;
    width: auto;
    float: right;
} */


