/* .footer_bdy{
    background-color: black;
    padding: 30px;
}
.nw {
    margin:0 20px;
    font-size: 100px;
    color: white; 
}
.foot_search_box {
    border-color: white;
    background: rgb(184, 181, 181);
} */