.home_img {
    width: 100%;
    margin: 50px 0;
    background: rgba(155, 250, 2, 0.548);
    opacity: 0.8;
    border: 1px outset rgba(10, 10, 10, 0.63);
    box-shadow: -15px 20px 15px rgb(90, 88, 88);
    border-radius: 25px;
    background-size:cover;
    background-position: center; 
}

.home_body {
    background: url('../Images/homebackground.jpg');
    background-position: center;
    background-size: cover;
    

}
.onimagetext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 50px;
    text-align: left;
    color: rgb(245, 239, 239);
    text-shadow: 5px 5px 20px black;
    -webkit-text-stroke:0.8px rgb(228, 7, 154);
    /* text-decoration:  */
}

.readmore {
    background-color: rgb(2, 54, 54);
    color: rgb(245, 240, 240);
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid yellow;
    box-shadow: 5px 5px 10px red
}
.readmore:hover  {
    color: rgb(240, 233, 233);
    background-color: red;
    box-shadow: 5px 5px 10px rgb(2, 54, 54);
}
.readmore:hover > .p_hide {
    display: block;
}
.homeimg {
    height:100%;
} 
.pagebg{
    margin-top: 50px;
    /* background: url('../Images/pagebg.jpg'); */
    box-shadow: 2px 2px 30px rgb(110, 110, 110);
    border:solid 1px white;
    /* width: 200%; */
    background-position: center;
    background-size: cover;
    height: 150px;
    padding: 0;
}
.home_name {
    padding: 8%;
    color: rgb(4, 95, 91);
    background: rgba(0, 0, 0, 0.445);
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    width: 100%;
    text-shadow: 2px 2px 5px rgb(217, 240, 8);
    margin: 0;
    height: 100%;
}
