.slide {
    height:100%;
    
    border: 0;
    width: 100%;
    }
    
    .react-slideshow-container + div.indicators > div{
    height: 20px;
    width: 20px;
    margin-bottom: 100px;
    border: 1px solid white;
    background: red;
    }
    .react-slideshow-container + div.indicators > div.active{
    background: greenyellow;
    width: 25px;
    height: 25px;
    }
    .react-slideshow-container .nav {
    opacity: 0;
    } 
     .slidepara{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    .para_btn{
        margin:20px;
        line-height: 30px;
        width: 35px;
        border-radius: 50%;
        font-size: 18px;
        font-weight: bold;
        /* border: solid 1px white; */
        background: red;
        color: white;
        box-shadow: 1px 1px 20px rgb(165, 189, 196);
    }
    .para_btn:hover {
        background: rgb(232, 248, 0);
        color: rgb(0, 27, 145);
        box-shadow: 1px 1px 20px rgb(243, 186, 230);
    }
    .para_btn:focus {
        background: white;
        color: red;
        box-shadow: 1px 1px 20px rgb(243, 186, 230);
    }