.service_body {
    background: url('../Images/servicebg.jpg');
    /* height: 1000px; */
    background-size: cover;
    
} 
.service_list{
    padding: 0;
}
.clips {
    width: 50px;
    height: auto;
    
}
.margin_top{
    margin: 100px 0 50px 0;
    
}
.white {
    /* background: white; */
    font-size: 17px;
    color: white;
    /* padding: 0 100px; */
}
.h_details {
    margin: 20px;
}
.cardbg {
    background: url(../Images/cardbg.jpg);
}
.color{
    color: white;
}
.justify {
    text-align:left;
   padding :20px;
}
.ser-head {
    padding:0;
    text-align:left;
    font-size:30px;
    font-weight:bold;
    color:red;
}
.service_list div{
    margin-left:0px;
}
.service_name {
    padding: 14%;
    color: rgb(8, 8, 8);
    text-shadow: 2px 2px 1px rgb(12, 12, 12);
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
}