.slidebody {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 100px 0px;
    
}
.slide {
    width: 100%;
    height: 500px;
    border: 2px solid rgba(10, 10, 10, 0.63); 
}

/* slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}
slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    animation: slide 12s infinite;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-size: cover;
    background-image: url(../Images/slide1.jpg);
    background-position: center;   
}
slide:nth-child(2) {
    left: 0%;
    animation-delay: 2s;
    background-size: cover;
    background-image: url(../Images/slide2.png);
    background-position: center;   
}
slide:nth-child(3) {
    left: 0%;
    animation-delay: 5s;
    background-size: cover;
    background-image: url(../Images/slide3.jpg);
    background-position: center;   
}
slide:nth-child(4) {
    left: 0%;
    animation-delay: 8s;
    background-size: cover;
    background-image: url(../Images/slide4.jpg);
    background-position: center;   
}
slide:nth-child(5) {
    left: 0%;
    animation-delay: 11s;
    background-size: cover;
    background-image: url(../Images/slide5.jpg);
    background-position: center;   
}
slide:nth-child(6) {
    left: 0%;
    animation-delay: 14s;
    background-size: cover;
    background-image: url(../Images/slide6.jpg);
    background-position: center;   
}
slide:nth-child(7) {
    left: 0%;
    animation-delay: 17s;
    background-size: cover;
    background-image: url(../Images/slide7.jpg);
    background-position: center;   
}
slide:nth-child(8) {
    left: 0%;
    animation-delay: 20s;
    background-size: cover;
    background-image: url(../Images/slide8.png);
    background-position: center;   
}
slide:nth-child(9) {
    left: 0%;
    animation-delay: 23s;
    background-size: cover;
    background-image: url(../Images/slide9.jpg);
    background-position: center;   
}
slide:nth-child(10) {
    left: 0%;
    animation-delay: 26s;
    background-size: cover;
    background-image: url(../Images/slide10.jpg);
    background-position: center;   
}
slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
}
@keyframes slide {
    0% { left:100%; width: 100%;}
    5% { left: 0%;}
    25% { left: 0%;}
    30% { left:-100%; width: 100%;}
    30.0001% { left:-100%; width: 0%;}
    /* 40% { left:-100%; width: 100%;} */
    /* 100% { left: 100%; width: 0%;}
} */ 